@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
@media (min-width: 440px) and (max-width: 680px) {
  .logo {
    display: none;
  }

  .mobile-logo {
    width: 5rem;
    height: 5rem;
    border: 3px solid #FF1946;
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: "Caveat", cursive;
  }
  .mobile-logo #logo-erwin,
.mobile-logo #logo-babies {
    text-align: center;
    margin-block: 0;
    padding-block: 0;
  }
  .mobile-logo #logo-erwin {
    color: #045f8d;
    grid-row: 1/3;
    grid-column: 1/3;
    font-size: 3rem;
  }
  .mobile-logo #logo-babies {
    color: #c4001f;
    grid-row: 1;
    grid-column: 2;
    font-size: 2.5rem;
    margin-top: 20px;
    transform: rotate(-5deg);
  }
}
@media (min-width: 680px) {
  .page {
    margin-inline: 0.75rem;
  }

  .post-container {
    margin-inline: auto;
    max-width: 80%;
  }

  .card {
    grid-template-columns: repeat(6, 1fr);
  }

  .card-content {
    grid-column: 1/7;
    grid-row: 1/3;
    display: grid;
  }

  .profile {
    grid-column: 1/4;
  }

  .user {
    font-size: 1.2rem;
  }

  .title {
    font-size: 2.5rem;
    grid-column: 4/6;
    grid-row: 1/1;
  }

  p {
    margin: 0.75rem;
    padding: 0.5rem;
  }

  .content {
    width: 50%;
    font-size: 1.5rem;
    grid-column: 1/6;
    grid-row: 2/4;
  }

  .commentary-content,
.commentary-creator {
    font-size: 1.5rem;
  }

  .navbar {
    margin: 0.75rem;
  }
  .navbar li {
    font-size: 1.5rem;
  }

  .logo {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: "Caveat", cursive;
  }
  .logo #logo-erwin,
.logo #logo-babies {
    margin-block: 0;
    padding-block: 0;
  }
  .logo #logo-erwin {
    color: #045f8d;
    grid-row: 1/3;
    grid-column: 1/4;
    font-size: 3rem;
  }
  .logo #logo-babies {
    color: #c4001f;
    grid-row: 2/3;
    grid-column: 2;
    font-size: 2.5rem;
    margin-top: 20px;
    transform: rotate(-20deg);
  }
}
@media (min-width: 800px) {
  .grid-user-container {
    flex-direction: row;
  }

  .grid {
    width: 40%;
    margin: 1rem;
  }
  .grid .user-profile {
    width: 10vw;
    height: 10vw;
  }

  .name div {
    font-size: 1.2rem;
  }

  .register-form,
.login-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2px, 1fr));
  }

  input:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  input:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .left {
    grid-column: 1/2;
  }

  .middle {
    grid-column: 1/3;
    margin: auto;
    grid-row: 2;
  }

  .right {
    grid-column: 2/3;
  }
}
@media (min-width: 1024px) {
  .navbar ul,
.button-container {
    flex-direction: row;
  }
}
.page {
  margin-top: 10rem;
  margin-bottom: 6rem;
}
.page .info {
  font-size: 1.5rem;
  text-align: center;
  color: black;
}
.page h1 {
  padding-inline: 1rem;
  font-size: 1.8rem;
}

.message-to-user p {
  text-align: center;
  font-size: 1.2rem;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.4rem;
  background-color: #99e2ff;
  margin-block: 1.5rem;
  margin-inline: auto;
  padding: 0.5rem;
  border-radius: 15px;
  width: 80%;
  min-width: 50%;
}
.form h1 {
  text-align: center;
  font-size: 1.8rem;
  color: black;
}
.form img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.register-form,
.login-form,
.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.left,
.right,
.middle {
  margin: auto;
}
.left input,
.right input,
.middle input {
  margin-block: 0.4rem;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
}

.form-input {
  background-color: #f2eaeb;
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
  margin: 0.75rem;
  font-size: 1rem;
  color: black;
}

.comment-form {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
}
.comment-form form {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-between;
}
.comment-form input {
  line-height: 1rem;
  height: 2rem;
  flex: 2;
  border-radius: 5px;
  background-color: #f6e6e7;
  color: black;
}

.error-container {
  background-color: white;
  border-radius: 5px;
}
.error-container p {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
}
.error-container p.valid {
  color: #69B324;
}
.error-container p.invalid {
  color: #ff93a9;
}

.validation-popup, .validate-upload-image {
  position: fixed;
  z-index: 100;
  transform: translate(-50%);
  top: 30%;
  margin: 0 auto;
  left: 50%;
}
.validation-popup h1, .validate-upload-image h1 {
  font-size: 1.3rem;
}
.validation-popup .input-invisible, .validate-upload-image .input-invisible {
  display: none;
}
.validation-popup p, .validate-upload-image p {
  text-align: center;
  font-size: 1.2rem;
}

.password-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 1.2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #eceded;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #00b7ff;
  padding: 0.5rem;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style-type: none;
  color: black;
  margin-left: -2rem;
}
.navbar li {
  position: relative;
  font-size: 1.2rem;
  padding-inline: 0.2rem;
  margin-inline: 0.4rem;
  cursor: pointer;
}
.navbar li::after {
  content: "";
  position: absolute;
  width: 100%;
  scale: 0;
  border-bottom: 3px solid #FF1946;
  transform: translate(-50%, -50%);
  top: 80%;
  left: 50%;
  transition: scale 0.8s ease;
}
.navbar li.active::after {
  scale: 1;
}
.navbar li:hover::after {
  scale: 1;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.mobile-logo,
.logo {
  display: none;
}

@media (min-width: 1024px) {
  .navbar ul,
.button-container {
    flex-direction: row;
  }
}
@media (min-width: 680px) {
  .navbar {
    margin: 0.75rem;
  }
  .navbar li {
    font-size: 1.5rem;
  }

  .logo {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: "Caveat", cursive;
  }
  .logo #logo-erwin,
.logo #logo-babies {
    margin-block: 0;
    padding-block: 0;
  }
  .logo #logo-erwin {
    color: #045f8d;
    grid-row: 1/3;
    grid-column: 1/4;
    font-size: 3rem;
  }
  .logo #logo-babies {
    color: #c4001f;
    grid-row: 2/3;
    grid-column: 2;
    font-size: 2.5rem;
    margin-top: 20px;
    transform: rotate(-20deg);
  }
}
@media (min-width: 440px) and (max-width: 680px) {
  .logo {
    display: none;
  }

  .mobile-logo {
    width: 5rem;
    height: 5rem;
    border: 3px solid #FF1946;
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: "Caveat", cursive;
  }
  .mobile-logo #logo-erwin,
.mobile-logo #logo-babies {
    text-align: center;
    margin-block: 0;
    padding-block: 0;
  }
  .mobile-logo #logo-erwin {
    color: #045f8d;
    grid-row: 1/3;
    grid-column: 1/3;
    font-size: 3rem;
  }
  .mobile-logo #logo-babies {
    color: #c4001f;
    grid-row: 1;
    grid-column: 2;
    font-size: 2.5rem;
    margin-top: 20px;
    transform: rotate(-5deg);
  }
}
.footer {
  background-color: #eceded;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer a {
  display: inline-block;
  width: 100%;
  font-size: 1.5rem;
  padding-block: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.post-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-block: 1.5rem;
  background-color: white;
  padding: 0.5rem;
}

.card {
  width: 100%;
  background-color: #eafcff;
}
.card.article {
  border: 5px ridge #00b7ff;
}
.card.album {
  border: 5px ridge #045f8d;
}
.card .card-content {
  padding: 0.5rem;
}
.card .user {
  text-align: end;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.card .title {
  text-transform: capitalize;
  text-align: center;
  font-size: 1.8rem;
}
.card p {
  margin: 0.75rem;
  padding: 0.5rem;
}
.card .content {
  margin-block: 1rem;
  margin-inline: auto;
  padding: 0.75rem;
  width: 90%;
  font-size: 1.2rem;
}
.card .meta-data {
  margin-inline: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .date {
  text-align: start;
  font-size: 1rem;
}
.card .icon {
  cursor: pointer;
  font-size: 2rem;
}
.card .icon.like-button {
  color: #FF1946;
}
.card .icon.comment-button {
  color: #c4001f;
}
.card span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #045f8d;
}

.comm-container {
  width: 100%;
  margin-inline: auto;
  max-height: 0;
  overflow: hidden;
  transition: all 2s ease;
  display: flex;
  flex-direction: column;
}
.comm-container.comm-active {
  overflow: scroll;
  max-height: 500px;
}
.comm-container .comment-container {
  padding: 0.5rem;
  box-shadow: 0px 4px 3px rgba(40, 44, 46, 0.4784313725);
}
.comm-container .commentary {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.comm-container .commentary-content {
  border-bottom: 0.8px solid #d1d4d5;
  grid-column: 1/8;
  grid-row: 2;
  padding-inline: 0.5rem;
  text-align: justify;
  font-size: 1rem;
  color: black;
  font-weight: 500;
}
.comm-container .by {
  font-weight: 100;
}
.comm-container .commentary-creator {
  padding: 0.2rem;
  grid-column: 1/5;
  grid-row: 3;
  font-size: 1rem;
  color: #c4001f;
  font-weight: 400;
  cursor: pointer;
}
.comm-container .date {
  grid-column: 5/7;
  grid-row: 3;
  font-size: 1rem;
  font-weight: 500;
}

.minus-icon {
  display: none;
}

.icon-active {
  display: block;
}

.sub-menu-container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  padding-inline: 0.5rem;
  margin-block: 0.75rem;
}
.sub-menu-container .icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: #FF1946;
}
.sub-menu-container li {
  font-size: 1.2rem;
}

.sub-menu {
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease;
}
.sub-menu.active {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #d0f8ff;
  max-height: 200px;
  width: fit-content;
}
.sub-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sub-menu ul li {
  cursor: pointer;
  text-align: justify;
  color: #c4001f;
  transition: all 0.8s ease;
  border-bottom: 1px solid #f6e6e7;
}
.sub-menu ul li:hover {
  color: #910017;
  font-weight: 500;
}

.commentary .sub-menu-container {
  grid-column: 7;
  grid-row: 1;
}
.commentary .sub-menu-container li {
  font-size: 1rem;
}

.post-container .sub-menu-container {
  align-self: flex-end;
}

.grid {
  background-color: #b8ecf5;
  font-size: 1.2rem;
  padding: 0.2rem;
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
  transition: all 1s ease;
  border-radius: 15px;
  width: 90%;
}
.grid h2 {
  margin: 1rem;
  font-size: 1.8rem;
  color: #045f8d;
}
.grid span {
  font-weight: 300;
}
.grid .name {
  grid-row: 2;
  grid-column: 1/4;
  margin: 0.75rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-height: 0;
  overflow: hidden;
  transition: all 2s ease;
}
.grid .name.active {
  max-height: 300px;
}
.grid .name .info {
  font-size: 1rem;
}
.grid .name .info:nth-child(2n) {
  grid-column: 1;
  text-align: end;
  font-weight: 300;
}
.grid .name .info:nth-child(2n+1) {
  grid-column: 2;
  font-weight: 500;
}
.grid .name .info:nth-child(2n+1):nth-child(1) {
  grid-row: 3;
}
.grid .name .info:nth-child(2n+1):nth-child(2) {
  grid-row: 2;
}
.grid .name .info:nth-child(2n+1):nth-child(3) {
  grid-row: 2;
}
.grid .name .info:nth-child(2n+1):nth-child(4) {
  grid-row: 3;
}

.grid.user-info {
  grid-template-columns: 1fr 2fr 1fr;
}

.grid.user-settings {
  max-height: 250px;
  grid-template-columns: repeat(2, 1fr);
}
.grid.user-settings span {
  font-size: 1rem;
}

.grid-user-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.75rem;
}

h1 {
  text-align: center;
}

button,
.close-button {
  cursor: pointer;
  width: fit-content;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  transition: all 0.8s ease;
  margin: 0 auto;
}
button:hover,
.close-button:hover {
  background-color: #f6e6e7;
  color: #c4001f;
}

.change-button {
  background-color: #f6e6e7;
  color: black;
}

.form-button {
  margin: auto;
  grid-column: 1/3;
  grid-row: 2/3;
  font-size: 1.3rem;
  padding-inline: 0.75rem;
  padding-block: 1rem;
}

.popup-button {
  color: black;
  padding-block: 0.75rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
}

#button-yes {
  background-color: #69B324;
}

#button-no {
  background-color: #ff93a9;
}

#upload-btn {
  background-color: #f6e6e7;
  border: 2px dashed #FF1946;
  color: #c4001f;
}

.form-button,
.popup-button {
  background-color: #c4001f;
  color: #f6e6e7;
}

.btn-inactive {
  display: none;
}

.close-button {
  color: black;
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #ff93a9;
  padding: 0.2rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
}

.sign-button {
  min-width: 150px;
  background-color: #f6e6e7;
  color: #c4001f;
  font-size: 1.3rem;
  padding-inline: 0.5rem;
  padding-block: 1rem;
  margin-inline: 0.75rem;
  border: 1px solid #c4001f;
}
.sign-button:hover {
  color: white;
  background-color: #c4001f;
}
.sign-button#active {
  background-color: #c4001f;
  color: white;
  border: none;
}
.sign-button#active:hover {
  background-color: #f6e6e7;
  color: #c4001f;
}
.sign-button.connected {
  display: none;
}
.sign-button.connected {
  display: inline-block;
}

.grid-button {
  margin-inline: auto;
  margin-block: 1rem;
  background-color: #c4001f;
  color: white;
  font-size: 1rem;
}
.grid-button:hover {
  border: 1px solid #c4001f;
  background-color: white;
  color: #c4001f;
}

.change-profile-button {
  grid-row: 1;
  margin: 0.75rem;
}

/*=======USER IMAGE=======*/
img {
  max-width: 500px;
  max-height: 500px;
}

.profile {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.user-profile {
  width: 20rem;
  object-fit: cover;
  margin: 0.75rem;
  border: 1px solid black;
  border-radius: 50%;
  width: 8vw;
  height: 8vw;
}
.user-profile.in-card {
  width: 5rem;
  height: 5rem;
}
.user-profile.error {
  width: 10rem;
  height: 10rem;
}

/*=======ALBUM IMAGES=======*/
.image-post-container {
  grid-column: 1/7;
  grid-row: 3/7;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.album-image {
  width: 20rem;
  max-width: 100%;
  height: 20rem;
  object-fit: cover;
}
.album-image.error {
  width: 10rem;
  height: 10rem;
}

/*=======PREVIEW IMAGES=======*/
.images-to-upload-container {
  margin: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.upload-image-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}
.upload-image-container img {
  width: clamp(200px, 40vw, 500px);
  height: auto;
}

.validate-upload-image {
  width: 80%;
  margin: auto;
  background-color: #f2eaeb;
  padding-block: 1rem;
  border: 3px solid #FF1946;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.validate-upload-image #preview-profile {
  width: 20rem;
  height: 20rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Changa", sans-serif;
  font-size: 1vw;
  background-color: #eceded;
  background-image: url("../images/bg.svg");
  background-size: 185vmax;
  background-repeat: repeat-y;
  background-position: -40px -20px;
}

a {
  text-decoration: none;
  color: #5e000f;
  font-weight: 600;
}

.loading-ball {
  position: relative;
  color: #045f8d;
  font-size: 2.5rem;
  width: fit-content;
  height: fit-content;
  transform: translateX(50%);
}

.ball {
  animation: roll 10s infinite alternate-reverse linear;
}

.thread {
  position: absolute;
  content: "";
  width: 10px;
  top: 60%;
  left: 20%;
  animation: thread 10s infinite alternate-reverse linear;
  border-bottom: 4px solid #045f8d;
}

.not-implemented {
  display: none;
}

@keyframes roll {
  from {
    transform: translateX(0) rotate(0deg);
  }
  to {
    transform: translateX(100vw) rotate(720deg);
  }
}
@keyframes thread {
  from {
    width: 0;
    transform: translate(0) rotate(0);
  }
  to {
    width: 100vw;
    transform: translate(0) rotate(0);
  }
}
